@import url('https://fonts.googleapis.com/css?family=Fira Code');

*{
    font-family: 'Fira Code';
    font-size: 12px;
    color: #6D6D6D;
}
.wikigeneratedheader{
    margin-bottom: 10px;
}
tr{
    width: 100%;
}
th{
    width: 500px;
}